* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,
*::before {
    box-sizing: inherit;
}
:root {
    --primary-050: #ccc; /* サンプル */
    --secondary-050: #0d2989; /* サンプル */
    --dark-087: rgba(0,0,0,0.87);
    --dark-054: rgba(0,0,0,0.54);
    --dark-026: rgba(0,0,0,0.26);
    --dark-012: rgba(0,0,0,0.12);
    --light-100: rgba(255,255,255,1.00);
    --light-070: rgba(255,255,255,0.70);
    --light-030: rgba(255,255,255,0.30);
    --light-012: rgba(255,255,255,0.12);
    --gray-010: #f1f1f1;
    --gray-020: #e4e4e4;

    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-feature-settings: "palt";
    font-size: 16pt;
}

.global-nav {
    background-image: url("black.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
}

.global-nav h1 {
    font-size: 9vw;
    font-family: 'Pacifico', cursive;
    color: var(--primary-050);
    text-shadow: 1px 1px 0 var(--dark-026);
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 0;
}

.global-nav h2 {
    font-size: 5vw;
    color: var(--primary-050);
    text-shadow: 1px 1px 0 var(--dark-026);
    text-align: center;
}

.global-nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.global-nav .menu ul a {
    color: var(--primary-050);
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    font-size: 3vw;
    padding: calc(1.25rem - 4px)4rem;
    transition: color,background-color 0.3s;
    border-right: 1px solid var(--dark-012);
    border-top: transparent solid 4px;
    border-bottom:transparent solid 4px;
}

.global-nav .menu ul a:hover{
    background-color: var(--primary-050);
    color: var(--secondary-050);
    border-bottom: 4px solid var(--secondary-050);
}
.global-nav .menu ul li:last-child a {
    border-right: none;
}

.About{
    background-image: url("black.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
}

.About h1{
    font-size: 9vw;
    color: var(--primary-050);
    text-shadow: 1px 1px 0 var(--dark-026);
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.trim{
    margin-top: 3rem;
}

.trim img{
    border-radius: 50%;
    width: 18%;
    height: 18%;
    margin-left: 20%;
    float: left;
    margin-right: 1%;
}

.trim p{
    font-size: 3.5vw;
    color: var(--primary-050);
}

.Works{
    background-image: url("black.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.Works h1{
    font-size: 9vw;
    color: var(--primary-050);
    text-shadow: 1px 1px 0 var(--dark-026);
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.Works h2{
    font-size: 2vw;
    color: var(--primary-050);
    text-shadow: 1px 1px 0 var(--dark-026);
    text-align: center;
    margin-bottom: 5%;
}

#gallery {
    font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
    max-width: 800px; 
    margin: 0 auto;
    display: flex;    
    flex-flow: wrap;  
    margin-left: 25%;
  }
  #gallery dl {
    flex: 200px;    
    float: left; 
    height: 47vh;   
    width: 50%;   
    margin-right:5%;
    margin-bottom: 1em;
    padding: 0;
    font-size: 16px;
    background-color:var(--secondary-050) ;
    border:1px solid #933;
    text-align: center;  
    box-sizing: border-box;
  }
  #gallery:after { 
    content: "";
    flex: 200px;
    margin-right: 5px;
    display: block;
  }
  #gallery dl img {
    border: 0;
    width: 100%;
    height: auto;
  }
  #gallery dt {
    margin: 0;
    padding: 2px;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }
  #gallery dd {
    margin: 0;
    padding: 0;
    display: inline-block
    height:100%;
  }
  #gallery dd.comment {
    height: 3em;  
    padding: 2px 5px;
    line-height: 1.3;
    text-align: left;
    color: #fff;
  }

  .Skill {
    background-image: url("black.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.Skill h1{
    font-size: 9vw;
    color: var(--primary-050);
    text-shadow: 1px 1px 0 var(--dark-026);
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.skills {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
}



.star{
    font-family: "Font Awesome 5 Free";
  font-size: 15px;
  color: #fc6530;
}
.star:before{
  font-weight: 900;
}
.star:after{
  font-weight: 400;
}

.star[date-rate="3.0"]::before{content: "\f005\f005\f005";}